@model IEnumerable<Kias_Kar_Kompany.Models.Owner>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerSurname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cellnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerEmail)
            </th>
                   
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerSurname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cellnumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerEmail)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.OwnerId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.OwnerId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.OwnerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
